In [66]:
import pandas as pd
import numpy as np

In [91]:
df = pd.read_csv('data/churn_train.csv')

In [92]:
print(df.info())
print(df.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40000 entries, 0 to 39999
Data columns (total 12 columns):
avg_dist                  40000 non-null float64
avg_rating_by_driver      39838 non-null float64
avg_rating_of_driver      33472 non-null float64
avg_surge                 40000 non-null float64
city                      40000 non-null object
last_trip_date            40000 non-null object
phone                     39681 non-null object
signup_date               40000 non-null object
surge_pct                 40000 non-null float64
trips_in_first_30_days    40000 non-null int64
luxury_car_user           40000 non-null bool
weekday_pct               40000 non-null float64
dtypes: bool(1), float64(6), int64(1), object(4)
memory usage: 3.4+ MB
None
           avg_dist  avg_rating_by_driver  avg_rating_of_driver     avg_surge  \
count  40000.000000          39838.000000          33472.000000  40000.000000
mean       5.791302              4.777434              4.601697      1.074956
std        5.708056              0.448088              0.614810      0.222427
min        0.000000              1.000000              1.000000      1.000000
25%        2.420000              4.700000              4.300000      1.000000
50%        3.880000              5.000000              4.900000      1.000000
75%        6.930000              5.000000              5.000000      1.050000
max      160.960000              5.000000              5.000000      8.000000

          surge_pct  trips_in_first_30_days   weekday_pct
count  40000.000000            40000.000000  40000.000000
mean       8.857342                2.280700     60.874382
std       20.014008                3.811289     37.089619
min        0.000000                0.000000      0.000000
25%        0.000000                0.000000     33.300000
50%        0.000000                1.000000     66.700000
75%        8.300000                3.000000    100.000000
max      100.000000              125.000000    100.000000

In [94]:
df.head()

,avg_dist,avg_rating_by_driver,avg_rating_of_driver,avg_surge,signup_date,surge_pct,trips_in_first_30_days,weekday_pct,churn,city_Astapor,city_King's Landing,city_Winterfell,phone_Android,phone_Other,phone_iPhone,luxury_car_user_False,luxury_car_user_True
0,6.94,5.0,5.000000,1.00,2014-01-12,0.0,0,100.0,1,1,0,0,1,0,0,1,0
1,8.06,5.0,5.000000,1.00,2014-01-25,0.0,2,0.0,1,1,0,0,1,0,0,0,1
2,21.50,4.0,4.601697,1.00,2014-01-02,0.0,1,100.0,1,0,0,1,0,0,1,0,1
3,9.46,5.0,4.601697,2.75,2014-01-09,100.0,1,100.0,1,0,0,1,1,0,0,1,0
4,13.77,5.0,4.601697,1.00,2014-01-31,0.0,0,100.0,1,0,0,1,0,0,1,1,0

In [74]:
import datetime as dt

In [103]:
y = df['churn']

In [104]:
x = df.drop('churn', axis=1)

In [109]:
df1 = pd.concat([x,y], axis=1)

In [111]:
ls

CaseStudyNotebook.ipynb  cleaning.py              group.py
README.md                data/                    heatmap.png
churn.ipynb              group.md                 modeling.py

In [123]:
run cleaning.py

/Users/jccarrigan/Data Science/churn-analysis_local/cleaning.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  X_train[columns] = ss.fit_transform(X_train[columns])
/anaconda3/lib/python3.6/site-packages/pandas/core/indexing.py:537: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s
/Users/jccarrigan/Data Science/churn-analysis_local/cleaning.py:55: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  X_test[columns] = ss.transform(X_test[columns])

In [125]:
import matplotlib.pyplot as plt
import seaborn as sns